


    

<%- include("partials/header"); -%>
<div class="col>
    <div class=" card mb-4">
    <div class="col card-body text-center" style="margin-top: 10%;">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3">
            <%=subject%>
        </h5>
        <p class="text mb-1">Need a professional tutor for <%=subject%>
        </p>
        <p class="text-muted mb-4">
            <%=content%>
        </p>
        <div class="d-flex justify-content-center mb-2">

        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    <%=name%>
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    <%=email%>
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Fee</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    <%=fee%>
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Difficulty</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">
                    <%=difficulty%>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
  
   






